/* src/assets/custom-marker.css */

.custom-marker {
  position: relative;
  /* 배경색: Indigo-500, 불투명도 조금 줌 */
  background-color: rgba(99, 102, 241, 0.9);
  color: #fff;
  font-family: sans-serif;
  /* 텍스트 중앙 정렬 */
  text-align: center;
  /* 약간 넉넉한 패딩 */
  padding: 0.3rem 0.4rem;
  /* 둥근 모서리 */
  border-radius: 0.5rem;
  /* 그림자 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* 한글 폰트 크기, 줄 높이 조정 */
  font-size: 0.575rem;
  line-height: 1.2;
  /* 화살표 꼬리 위치를 맞추기 위해 위로 띄움 */
  transform: translate(-50%, -100%);
  white-space: nowrap;
  z-index: 1;
}

.custom-marker .bookmark {
  margin-top: 0.12rem;
  margin-bottom: 0.12rem;
  font-size: 0.5rem;
  color: black;
  background-color: #fff;
  border-radius: 0.5rem;
}

/* 내부에 price, area 같은 클래스를 쓰셨다면 이렇게 세부 조정 가능 */
.custom-marker .avg {
  font-weight: 500;
  font-size: 0.8rem;
}
.custom-marker .max {
  font-size: 0.5rem;
  margin-top: 0.25rem;
  opacity: 0.9;
}

/* 꼬리(arrow) */
.custom-marker::after {
  content: "";
  position: absolute;
  bottom: -6px; /* 박스 바로 아래 */
  left: 50%;
  transform: translateX(-50%);
  /* 위가 박스, 아래가 뾰족 */
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: rgba(99, 102, 241, 0.9) transparent transparent transparent;
}
